<h5 class="backToGames gameScore">Current Game score: <span id="gameScore"></span></h5>

<form action="/games" method="post">
  <input type='hidden' name="playerScoreHidden" id="playerScoreHidden">
  <button type="submit" class="btn btn-info button backToGames">Back to Games</button>
</form>
