body {
	margin: 10px;
}

#currentGuess {
	color: blue;
	padding-bottom: 10%;
}

.guessesLeftNumber {
	color: red;
}

.hide-me {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.75);
}

#guesses {
	padding: 10px;
	font-size: 20px;
}

.guessOptions {
	margin-top: 10px;
}

.guessOption {
	margin: 10px;
}

.pan-guessOption {
	margin: 2px;
	transition: opacity 0.4s ease-out, transform 0.4s ease-out,
		visibility 0.4s ease-out;
}

#playAgain {
	margin-top: 20px;
}

.gameButtons {
	margin: 10px;
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	text-align: center;
}

.centerPickANumber {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	text-align: center;
}

.centerTop {
	text-align: center;
	width: 100%;
	align-items: center;
}

.currentGuess {
	font-size: 50px;
}

.signupForm {
	padding: 10px;
}

.signOut {
	margin-top: 10px;
}

.gameScore {
	margin-bottom: 2%;
	text-align: center;
}

.nameInput {
	height: 40px;
	max-width: 300px;
	text-align: center;
}

.player {
	width: 20%;
	position: absolute;
}

.backToGames {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	border-radius: 0;
}
