<% include ../partials/header %>

<div class="center">
<div>
  <h2>You can choose between these games:</h2>
  <div class="gameButtons">
    <form action="/games/numberguesser/" method="post">
      <button type="submit" class="btn btn-primary button">Number Guesser</button>
    </form>
  </div>
  <div class="gameButtons">
    <form action="/games/pickanumber/" method="post">
      <button type="submit" class="btn btn-primary button">Pick A Number</button>
    </form>
  </div>

</div>



  </div>
</body>
