<% include ../partials/header %>

  <body>
    <div class="center">
      <div id="gameContainer" class="gameContainer">
        <h2 class="currentGuess">I guess <span id="currentGuess"></span></h2>
        <div id="guesses" class="guesses">
          <span id="guessesLeft" class="guessesLeftNumber"></span> guesses left
        </div>
        <div class="guessOptions">
          <button id="guessLower" class="btn btn-warning guessOption">Lower!</button>
          <button id="correctGuess" class="btn btn-success guessOption">You got it!</button>
          <button id="guessHigher" class="btn btn-primary guessOption">Higher!</button>
        </div>
      </div>
      <div id="endGame">
        <span id="result"></span>
      </div>
      <button id="playAgain" class="btn btn-danger">Play again</button>
    </div>

    <h5 class="backToGames gameScore">Current Game score: <span id="gameScore"></span></h5>

    <form action="/games" method="post">
      <button type="submit" class="btn btn-info button backToGames">Back to Games</button>
    </form>




    <script src="/js/numberGuesser.js"></script>
    <script src="/js/bootstrap-without-jquery.min.js"></script>
    <script src="/js/numGuesserJS.js"></script>
  </body>
