<% include ../partials/header %>

  <body>
    <div class="center">
      <div id="intro"><h2>Think of a number between 1 and 1000, and I'll guess it!</h2>
      <button class="btn btn-info" id="startGame">Start</button>
      </div>
      <div id="gameContainer" class="gameContainer">
        <h2 class="currentGuess">I guess <span id="currentGuess"></span></h2>
        <div id="guesses" class="guesses">
          <span id="guessesLeft" class="guessesLeftNumber"></span> guesses left
        </div>
        <div class="guessOptions">
          <button id="guessLower" class="btn btn-warning guessOption">Lower!</button>
          <button id="correctGuess" class="btn btn-success guessOption">You got it!</button>
          <button id="guessHigher" class="btn btn-primary guessOption">Higher!</button>
        </div>
      </div>
      <div id="endGame">
        <span id="result"></span>
      </div>
      <button id="playAgain" class="btn btn-danger">Play again</button>
    </div>


    <script src="/js/numberGuesser/game.js"></script>
    <script src="/js/numberGuesser/pointsManager.js"></script>
    <script src="/js/numberGuesser/htmlManager.js"></script>
  </body>

  <% include ../partials/gameFooter %>
